.THIS .icon:hover {
    z-index: 1000;
    opacity: 1;
}

.THIS .primary {
    border-radius: 3px;
    background-color: black;
    color: white;
    margin-left: -6px;
    padding-left: 4px;
    padding-right: 22px;
    position: relative;
}

.THIS .check {
    position: absolute;
    top:-2px;
    right:3px;
}

.THIS .quotePreview {
    position: fixed;
    top: 30px;
    left: 150px;
    right:  150px;
    bottom: 20px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid grey;
    z-index: 10000;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}