.THIS.quoteCardPrimary {
    background-color: #ededed;
    border-radius: 4px;
    border: 0.5px solid #ccc9c9;
	margin-bottom: 7px;
}

.THIS .primary {
    border-radius: 3px;
    background-color: black;
    color: white;
    margin-left: 10px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: -3px;
}

.THIS .totalsField {
    font-size:13px;
    color:grey;
}

.THIS .totals {
    font-size:15px;
    font-weight: bold;
}


.THIS .backdrop {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100vw;
    height: 100vh;
    background-color: white;
    opacity: 0.8;
    z-index:100;
}
.THIS.toggle {
    display: none;
}

.THIS label {
    display: none;
}

.THIS.quotePreview {
    position: fixed;
    top: 30px;
    left: 150px;
    right:  150px;
    bottom: 20px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid grey; 
    z-index: 10000;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.THIS.cloneModal {
    position: absolute;
    top: 0;
    left: 55%;
    height: 200px;
    width: 300px;
    background-color: white;
    border-radius: 5px;
    border: 0.5px solid grey; 
    z-index: 10;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.THIS.cloneModal button {
    text-align: center;
}
.THIS.quoteLineDragover {
    
}

.THIS .expenseRow {
    display:grid;
    grid-template-columns: 10% 65% 25%; 
    border-radius: 3px;
    border: 0.5px solid grey;
    margin-bottom: 3px;
    padding:5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    cursor: all-scroll;
}

.THIS .slds-truncate {
    white-space: normal;
}

.THIS.slds-spinner_container {
    z-index: 10 !important;
}